.column-container {
    margin: 8px;
    width: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
  }
  
  .column-title-wrap {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(0, 0, 0, 0.675);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 11.5px );
    z-index: 2;
    h3 {
      font-weight: 300;
      padding: 8px;
      color: #fff;
    }
  }

  
  .column-tasklist {
    flex-grow: 1;
    min-height: 50px;
    padding: .5rem;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    &::before {
      border-radius: 5px;
          border-top-left-radius: 0px;
    border-top-right-radius: 0px;
      top: 0;
      left: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
      backdrop-filter: blur( 11.5px );
    }
  }
  
  .column-tasklist-add {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.7em;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.35s ease;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 11.5px );
    &:hover {
      background: rgba(0, 0, 0, 0.6);

      color: #fff;
    }
    svg {
      margin-right: 0.15rem;
      fill: #fff;

      width: 18px;
      height: 18px;
      transition: all 0.35s ease;
    }
  }
  