
.task-container {
  position: relative;
  outline: none;
  user-select: none;
  padding: 8px;
  color: #fff;
  margin-bottom: .5rem;
  border-radius: 5px;
  border: 1px solid rgba(43, 43, 43, 0.233);
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  position: relative;
  align-items: center;
  min-height: 20px;
  &:hover {
    .task-menu-icon {
      fill: #6b7c8f;
    }
  }
  p {
    width: 90%;
    font-size: 0.7em;
    overflow-wrap: break-word;
  }
  .task-menu-icon {
    cursor: pointer;
    transition: all 0.35s ease;
    position: absolute;
    right: 2px;
    fill: transparent;
    width: 22px;
    height: 22px;
  }
}

.task-menu-container {
  z-index: 2;
  border: 1px solid #394758;
  background-color: #3a465c;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding-bottom: .5rem;
  height: 69px;
  overflow: hidden;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.15);
  
  span {
    padding: 4px 5px;
    width: 100%;
    width: 60px;
    font-size: 0.885em;
    margin-bottom: 1px;
    border-bottom: 1px solid #2d3947;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.35s ease;
    &:hover {
      background: #516180;
    }
    //removes border from delete btn
    &:nth-child(3) {
      border-bottom: none;
    }
  }
  svg {
    fill: #fff;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    padding-left: 2px;
  }
}

.task-input {
  width: 80%;
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  font-size: 0.7em;
  overflow: auto;
  resize: none;
  width: 164px;
  padding: 0;
  word-wrap: break-word;
}

//CSSTransition Classes
.task-menu-primary-enter {
  position: absolute;
  height: 0px;
}
.task-menu-primary-enter-active {
  height: 69px;
  transition: all 500ms ease;
}

.task-menu-primary-exit {
  position: absolute;
  transition: all 500ms ease;
  height: 69px;
  opacity: 1;
}
.task-menu-primary-exit-active {
  height: 0px;
  opacity: 0;
}