.column-container {
  margin: 8px;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

body {
  background: linear-gradient(to left, #11998e, #38ef7d);
  background-repeat: no-repeat;
  height: 100vh;
}

.column-title-wrap {
  border-radius: 5px;
  background-color: #2a3342;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.column-title {
  font-weight: 300;
  padding: 8px;
  color: #fff;
}

.column-tasklist {
  transition: background-color 0.5s ease;
  flex-grow: 1;
  min-height: 50px;
  padding: 10px;
  padding-bottom: 40px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #465874;
  position: relative;
}

.column-tasklist-add {
  display: flex;
  align-items: center;
  position: absolute;
  color: #6b7c8f;
  bottom: 12px;
  font-size: 0.85em;
  width: calc(100% - 30px);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  &:hover {
    background: #272f3d;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  svg {
    margin-right: 0.15rem;
    fill: #6b7c8f;
    width: 18px;
    height: 18px;
    transition: all 0.35s ease;
  }
}
