.content-weather {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
    }
    p  {
        font-size: .7em;
        font-weight: 300;
        margin-top: -.25rem;
        text-shadow: 1px 2px 3px #00000044;
    }
    svg {
        width: 40px;
        height: 40px;
        margin-right: .5rem;
        fill: #fff;
    }
    h1 {
        text-shadow: 1px 2px 5px #00000042;
        font-weight: 300;
        color: #fff;
        font-size: 1.4em;
    }
}

