.content-weather {
    background-color: rgb(8, 128, 108);
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 275px;
    height: 90px;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 20px;
}

.content-weather-description {
    display: flex;
    align-items: center;
    width: fit-content;
    p {
        font-size: .9em;
        font-weight: 300;
    }
    svg {
        fill: #fff;
        width: 20px;
        height: 20px;
        margin-right: .25rem;
    }
}

.content-weather-body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p {
        font-size: .8em;
        font-weight: 200;
        svg {
            width: 18px;
            height: 18px;
            fill: #fff;
        }
    }
    h1 {
        font-size: 1.9em;
        color: #fff;
        font-weight: 500;
    }
}

.content-weather-date {
    text-transform: uppercase;
    position: absolute;
    font-size: 2em;
    color: #fff;
    right: 1rem;
    top: .5rem;
}