@import "../colors";

// .m-upload-wrapper {
// }

.m-upload-body {
  cursor: pointer;
  border-radius: 5px;
  border: 1px dashed #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.5rem 1rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  outline: none;
  svg {
    fill: #fff;
    z-index: 1;
  }
  h6 {
    margin-top: 0.5rem;
    font-size: 0.76em;
    font-weight: 400;
    z-index: 1;
    span {
      color: turquoise;
      cursor: pointer;
    }
  }
  p {
    margin-top: 0.5rem;
    font-size: max(0.7rem);
    z-index: 1;
    color: #b1b1b1;
  }
  &::before {
    z-index: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }
  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.m-upload-dimensions {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.m-upload-data {
  align-items: center;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
}

.m-upload-data-left {
  width: 60%;
  position: relative;
  .m-upload-data-img {
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 0.5rem;
  }
  span {
    width: calc(100% - 40px - 0.5rem);
  }
  h6 {
    font-size: 0.76em;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 0.1rem;
  }
  p {
    font-size: 0.6em;
    color: grey;
  }
}

.m-upload-data-right {
  display: flex;
  justify-content: space-between;
  width: 34%;
  button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
  :nth-child(1) {
    background: $primaryGradient;
    color: $primaryText;
    transition: all 0.5s ease;
    font-weight: 500;
    svg {
      fill: #fff;
      width: 22px;
      height: 22px;
      margin-right: 0.25rem;
    }
    &:hover {
      background: $primaryGradientHover;
    }
  }
}
